/* iPhone-14-Pro-Deep-Purple-wallpaper 1 */
position: absolute;
width: 388.28px;
height: 844px;
left: 0px;
top: 0px;

background: url(iPhone-14-Pro-Deep-Purple-wallpaper.png);

/* Rectangle 13 */
position: absolute;
width: 85px;
height: 74px;
left: 13px;
top: 386px;

background: url(pngwing);
mix-blend-mode: normal;

/* App */
position: absolute;
width: 25px;
height: 16px;
left: 43px;
top: 460px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;

/* identical to box height */
color: #FFFFFF;
______________1________________

/* Home */
position: relative;
width: 390px;
height: 844px;
background: #FFFFFF;

/*Telling My Ghost story */
position: absolute;
left: 8.97%;
right: 3.59%;
top: 38.03%;
bottom: 38.03%;

font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #FFFFFF;
______________2________________

/* Telling */
position: relative;
width: 390px;
height: 844px;
background: #FFFFFF;

/*Telling My Ghost story */
position: absolute;
left: 8.97%;
right: 3.59%;
top: 38.03%;
bottom: 38.03%;

font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #FFFFFF;
/* Email address */


position: absolute;
left: 12.31%;
right: 12.05%;
top: 46.09%;
bottom: 49.76%;

background: #C4C4C4;
/* Password */


position: absolute;
left: 12.31%;
right: 12.05%;
top: 46.09%;
bottom: 49.76%;

background: #C4C4C4;

/* Log in */
position: absolute;
width: 295px;
height: 35px;
left: 47px;
top: 476px;

background: #FFFFFF;
______________3________________

/* Welcome to Telling My Ghost story */
position: absolute;
left: 3.33%;
right: 0.51%;
top: 13.51%;
bottom: 73.58%;

font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;

/* What your name? */
position: absolute;
left: 6.67%;
right: -2.82%;
top: 26.42%;
bottom: 70.14%;

font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

/* identical to box height */
color: #FFFFFF;

/* Inkky */
position: absolute;
left: 6.67%;
right: -2.82%;
top: 32.58%;
bottom: 62.8%;

font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

/* identical to box height */
color: #F6F1BB;

/* Contiune */
position: absolute;
left: 9.23%;
right: 12.82%;
top: 45.5%;
bottom: 49.64%;

background: linear-gradient(0deg, #F7F1BB, #F7F1BB), #000000;
border-radius: 10px;
transform: matrix(1, 0, 0, -1, 0, 0);
______________4________________

/* Rectangle 13 */
position: absolute;
width: 285px;
height: 27px;
left: 52px;
top: 109px;

background: rgba(255, 255, 255, 0.54);
border-radius: 20px;

/* แนะนำ */
position: absolute;
left: 6.67%;
right: 13.59%;
top: 22.87%;
bottom: 73.7%;

font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */
color: #FFFFFF;

/* Rectangle 71 */
position: absolute;
width: 67px;
height: 176px;
left: -21px;
top: 258px;

background: url(S__6406212_1.jpg);
border-radius: 30px;

/* Rectangle 70 */
position: absolute;
width: 260px;
height: 222px;
left: 67px;
top: 235px;

background: url(S__6406212_0.jpg);
border-radius: 30px;

/* Rectangle 72 */
position: absolute;
width: 67px;
height: 176px;
left: 348px;
top: 258px;

background: url(S__6406212);
border-radius: 30px;

/* นักเขียน */
position: absolute;
left: 6.67%;
right: -2.82%;
top: 56.28%;
bottom: 40.28%;

font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

/* identical to box height */
color: #FFFFFF;

/* Ellipse 7 */
position: absolute;
width: 59px;
height: 59px;
left: 43px;
top: 522px;

background: url(S__6406226);

/* Ellipse 8 */
position: absolute;
width: 58px;
height: 59px;
left: 127px;
top: 522px;

background: url(S__6406228);

/* Ellipse 9 */
position: absolute;
width: 59px;
height: 59px;
left: 205px;
top: 522px;

background: url(S__6406229);

/* Ellipse 10 */
position: absolute;
width: 59px;
height: 59px;
left: 291px;
top: 522px;

background: url(S__6406230);

/* Krixi */
position: absolute;
width: 28px;
height: 16px;
left: 59px;
top: 595px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;

/* Lauriel */
position: absolute;
width: 42px;
height: 16px;
left: 135px;
top: 595px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;

/* Valhein */
position: absolute;
width: 46px;
height: 16px;
left: 212px;
top: 595px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;

/* Rouie */
position: absolute;
width: 36px;
height: 16px;
left: 303px;
top: 595px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;

/* ฮิตประจำสัปดาห์ */
position: absolute;
left: 6.67%;
right: -2.82%;
top: 74.88%;
bottom: 21.68%;

font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

/* identical to box height */
color: #FFFFFF;

/* Rectangle 40 */
position: absolute;
width: 100px;
height: 85px;
left: 31px;
top: 679px;

background: url(S__6406203.jpg);

/* Rectangle 42 */
position: absolute;
width: 100px;
height: 85px;
left: 146px;
top: 679px;

background: url(S__6406220.jpg);

/* Rectangle 44 */
position: absolute;
width: 100px;
height: 85px;
left: 259px;
top: 679px;

background: url(S__6406218);

/* user-alt */
position: absolute;
width: 36px;
height: 36px;
left: 31px;
top: 782px;

/* Vector */
position: absolute;
left: 26.67%;
right: 64.36%;
top: 93.01%;
bottom: 3.32%;

background: #FFFFFF;

/* maki:town */
position: absolute;
width: 52px;
height: 49px;
left: 170px;
top: 778px;

/* Vector */
position: absolute;
left: 66.15%;
right: 25.9%;
top: 92.65%;
bottom: 2.96%;

background: #FFFFFF;

/* mingcute:coin-3-fill */
position: absolute;
width: 43px;
height: 43px;
left: 321px;
top: 779px;
_____________5________________

/* Home */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;
_____________6________________

/* 1 */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Group 5 */
position: absolute;
width: 54px;
height: 59px;
left: 325px;
top: 88px;

/* Group 1 */
position: absolute;
width: 479px;
height: 152px;
left: 29px;
top: 673px;

/* Group 13 */
position: absolute;
width: 49px;
height: 46px;
left: 306px;
top: 768px;
_____________7-11________________

/* เลือกที่จะให้ทำภารกิจอะไรดี ? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________12-13________________

/* 1 */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Group 5 */
position: absolute;
width: 54px;
height: 59px;
left: 325px;
top: 88px;

/* Group 1 */
position: absolute;
width: 479px;
height: 152px;
left: 29px;
top: 673px;

/* Group 13 */
position: absolute;
width: 49px;
height: 46px;
left: 306px;
top: 768px;
_____________14-15________________

/* เราจะท้าทายว่าอะไรดีละ? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________16________________

/* 1 */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Group 5 */
position: absolute;
width: 54px;
height: 59px;
left: 325px;
top: 88px;

/* Group 1 */
position: absolute;
width: 479px;
height: 152px;
left: 29px;
top: 673px;

/* Group 13 */
position: absolute;
width: 49px;
height: 46px;
left: 306px;
top: 768px;
_____________17-24________________

/* คุณจะเลือกท้าทายบ้านหลังนี้อย่างไร? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________25-26________________

/* คุณจะเลือกให้เราเขียนว่าอะไรดีละ? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________27________________

position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Next */
position: absolute;
width: 45px;
height: 46px;
left: 361px;
top: 812px;

transform: rotate(-180deg);
_____________28-29________________

/* 1 */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Group 5 */
position: absolute;
width: 54px;
height: 59px;
left: 325px;
top: 88px;

/* Group 1 */
position: absolute;
width: 479px;
height: 152px;
left: 29px;
top: 673px;

/* Group 13 */
position: absolute;
width: 49px;
height: 46px;
left: 306px;
top: 768px;
_____________30-31________________

/* คุณว่าเราควรทำอย่างไรดี? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________32________________

/* เดินไปตามหาที่ไหนก็ดีละ? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________33________________

/* 1 */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Group 5 */
position: absolute;
width: 54px;
height: 59px;
left: 325px;
top: 88px;

/* Group 1 */
position: absolute;
width: 479px;
height: 152px;
left: 29px;
top: 673px;

/* Group 13 */
position: absolute;
width: 49px;
height: 46px;
left: 306px;
top: 768px;
_____________34-37________________

/* ควรจะเลือกทำอย่างไรดี? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________38________________

/* 1 */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Group 5 */
position: absolute;
width: 54px;
height: 59px;
left: 325px;
top: 88px;

/* Group 1 */
position: absolute;
width: 479px;
height: 152px;
left: 29px;
top: 673px;

/* Group 13 */
position: absolute;
width: 49px;
height: 46px;
left: 306px;
top: 768px;
_____________39________________

/* ควรจะเลือกทำอย่างไรดี? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________40________________

/* 1 */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Group 5 */
position: absolute;
width: 54px;
height: 59px;
left: 325px;
top: 88px;

/* Group 1 */
position: absolute;
width: 479px;
height: 152px;
left: 29px;
top: 673px;

/* Group 13 */
position: absolute;
width: 49px;
height: 46px;
left: 306px;
top: 768px;
_____________41-43________________

/* จะทำยังไงดี? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________44________________

/* 1 */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Group 5 */
position: absolute;
width: 54px;
height: 59px;
left: 325px;
top: 88px;

/* Group 1 */
position: absolute;
width: 479px;
height: 152px;
left: 29px;
top: 673px;

/* Group 13 */
position: absolute;
width: 49px;
height: 46px;
left: 306px;
top: 768px;
_____________45-52________________

/* เจอประตูแล้ว จะออกไปยังไงดี? */
position: absolute;
width: 223px;
height: 24px;
left: 87px;
top: 347px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Group 10 */
position: absolute;
width: 246px;
height: 100px;
left: 79px;
top: 389px;
_____________53________________

/* 1 */
position: relative;
width: 390px;
height: 844px;

background: #FFFFFF;

/* Group 5 */
position: absolute;
width: 54px;
height: 59px;
left: 325px;
top: 88px;

/* Group 1 */
position: absolute;
width: 479px;
height: 152px;
left: 29px;
top: 673px;

/* Group 13 */
position: absolute;
width: 49px;
height: 46px;
left: 306px;
top: 768px;
_____________54-71________________